# Файл конфігурації локального редактора
.vscode/
.idea/

# Папка, яку PlatformIO використовує для збірки та тимчасових файлів
.pio/

# Інші файли, які можуть генеруватися
*.o
*.a
*.so
*.lib
*.exe
*.dll
*.pyc